```ejs
<%- include("partials/header", { title: title }) %>

    <main class="container">

        <h1>
            <%= title %>
        </h1>

        <section class="projects">

            <% projects.forEach(project=> { %>

                <div class="card">

                    <h2>
                        <%= project.project_name %>
                    </h2>

                    <p>
                        <%= project.description %>
                    </p>

                    <p>
                        Location:
                        <%= project.location %>
                    </p>

                    <p>
                        Date:
                        <%= project.date.toISOString().split("T")[0] %>
                    </p>

                    <p>
                        Category:
                        <%= project.category_name %>
                    </p>

                    <p>
                        Organization:
                        <%= project.organization_name %>
                    </p>

                </div>

                <% }) %>

        </section>

    </main>

    <%- include("partials/footer") %>
    ```